[submodule "clients/apple"]
	path = clients/apple
	url = https://github.com/starllll/sing-box-for-apple.git
[submodule "clients/android"]
	path = clients/android
	url = https://github.com/starllll/sing-box-for-android.git
